.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.grow-0 {
  flex-grow: 0;
}

.grow-1 {
  width: 0;
  flex-grow: 1;
}

.grow-1_2 {
  width: 0;
  flex-grow: 1.2;
}

.grow-1_5 {
  width: 0;
  flex-grow: 1.5;
}

.grow-2 {
  width: 0;
  flex-grow: 2;
}

.grow-3 {
  width: 0;
  flex-grow: 3;
}

.grow-4 {
  width: 0;
  flex-grow: 4;
}

.grow-5 {
  width: 0;
  flex-grow: 5;
}

.grow-7 {
  width: 0;
  flex-grow: 7;
}

.stretch {
  align-items: stretch;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.middle {
  align-items: center;
}
.align-items-center{
  align-items: center;
}
.align-items-flex-end{
  align-items: flex-end;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-flex-start {
  justify-content: flex-start !important;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}
