.bold{
  font-weight: bold;
}

.font-weight-normal{
  font-weight: normal;
}

.f-0 {
  font-size: 0;
}
.f-10 {
  font-size: .5rem;
}

.f-12 {
  font-size: .6rem;
}

.f-13 {
  font-size: .65rem;
}

.f-14 {
  font-size: .7rem;
}

.f-16 {
  font-size: .8rem;
}
.f-17 {
  font-size: .85rem;
}
.f-22 {
  font-size: 1.1rem;
}

