
.h-34 {
  height: 34px;
}

.lh-34 {
  line-height: 34px;
}

.h-45 {
  height: 45px;
}

.h-50 {
  height: 50px;
}

.h-60 {
  height: 60px;
}

.l-h-1 {
  line-height: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.w-h-50 {
  width: 2.5rem;
  height: 2.5rem;
}
