.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-auto {
  margin-left: auto;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-30 {
  padding-top: 30px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-40 {
  margin-right: 40px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.m-x--20 {
  margin-left: -20px;
  margin-right: -20px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-40 {
  margin-bottom: 40px;
}

.m-y-10 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
