.w-60 {
  width: 60px;
}

.w-88 {
  width: 88px;
}

.w-100 {
  width: 100px;
  flex-shrink: 0;
}

.w-110 {
  width: 110px;
}
.w-120 {
  width: 120px;
}

.w-33pc {
  width: 33.333%;
}

.w-full {
  width: 100%;
}
.w-full-important {
  width: 100%!important;
}


.w-70pc {
  width: 70%;
}

.w-65pc {
  width: 65%;
}

.w-60pc {
  width: 60%;
}

.w-30pc {
  width: 30%;
}

.w-35pc {
  width: 35%;
}

.w-40pc {
  width: 40%;
}

.w-50pc {
  width: 50%;
}

.w-36 {
  width: 36px;
}

.w-780 {
  width: 780px;
}

.w-20pc {
  width: 20%;
}

.w-25pc {
  width: 25%;
}

.max-w-12em {
  max-width: 12em;
}

.h-20 {
  height: 20px;
}

.w-4em {
  width: 4em;
  flex-shrink: 0;
}

.w-6em {
  width: 6em;
  flex-shrink: 0;
}

.w50 {
  width: 50% !important;
}

.w80 {
  width: 90% !important;
}

.w70 {
  width: 70% !important;
}

.w100 {
  width: 100% !important;
}

.w-36 {
  width: 36px;
  flex-shrink: 0;
}

.w-50 {
  width: 50px;
  flex-shrink: 0;
}

.w-140 {
  width: 140px;
  flex-shrink: 0;
}

.w-200 {
  width: 10rem;
  flex-shrink: 0;
}

.w-250 {
  width: 12.5rem;
  flex-shrink: 0;
}

.w-280 {
  width: 280px;
  flex-shrink: 0;
}

.w-360 {
  width: 360px;
}

.w-70 {
  width: 70px;
}

.w-168{
  width: 168px;
  flex-shrink: 0;
}


.w-260{
  width: 13rem;
  flex-shrink: 0;
}

.w-220px{
  width: 220px;
}
