@import "_base/reset-default";
@import "_base/color";
@import "_base/flex";
@import "_base/font";
@import "_base/height";
@import "_base/width";
@import "_base/margin";
@import "_base/padding";
@import "_base/position";
@import "_base/response";

.opacity-text {
  opacity: 0.4;
}

@mixin max-page-width {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

@mixin v-middle {
  display: flex;
  align-items: center;
}

@mixin border-gray-all {
  border: 1px solid $c-border;
}

@mixin border-gray-bottom {
  border-bottom: 1px solid $c-border;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  display: none !important;
  opacity: 0;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-bottom {
  @include border-gray-bottom();
}

.border-top {
  border-top: 1px solid $c-border;
}

//小型滚动条
.small-scroll-bar {
  overflow-y: auto;
  max-height: 100%;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $c-blue;
    outline: 1px solid slategrey;
  }

}

.border-right {
  border-right: 1px solid $c-border;
}

.border-all {
  @include border-gray-all;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.center-block {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.border-0 {
  border: 0 !important;
  input {
    border: 0;
  }
}

.border-radius-50pc {
  border-radius: 50%;
}

.border-radius {
  border: 1px solid $c-border;
  border-radius: 4px;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-left {
  border-left: 1px solid $c-border;
}

.border-right-0 {
  border-right: 0 !important;
}

//波浪线居中
.wavy {
  position: relative;
  top: calc(.5em - 2px);
  margin-left: 5px;
  margin-right: 5px;
}

.absolute {
  position: absolute;

}

.inline-block {
  display: inline-block;
}

.border-top-0 {
  border-top: 0 !important;
}

.disabled {
  cursor: not-allowed !important;
}

.float-right {
  float: right;
}

.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.circle {
  border-radius: 50%;
}
