@import "base";

.sideBar {
  margin-top: 20px;
  //width: 180px;
  //min-width: 140px;
  flex-shrink: 0;

  //height: 100%;
  min-height: 100%;
  //background-color: #fff;
  background-color: #EFF2F7;;
  a, a:visited {
    color: $c-black;
  }
  a:hover {
    color: $c-blue;
  }
}

.menu {
  > li {
    margin-top: 10px;
    //padding-left: 30px;

    line-height: 50px;
    &.on {
      height: auto;
     > a{
        border-left: 6px solid $c-blue;
       background-color: #fafafa;
       background-color:  #E5E9F2;
      }
      .menu-sub {
        display: block;
      }
    }
    >a{
      padding-left: 22px;
    }
    a {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    &:hover {
      >a{
        background-color: #fafafa;
        background-color:  #E5E9F2;
      }
      color: $c-blue;
      .menu-sub {
        display: block;
      }
    }
    .menu-sub {
      margin-top: -9px;
      margin-left: 32px;
      display: none;
      li {
        height: 44px;
        background: url("../img/bg-menu-sub.png") no-repeat;
        background-size: contain;
        margin-top: 10px;

        a {
          position: relative;
          left: 20px;
          top: 18px;
          align-items: baseline;
        }
      }
    }
  }
}

.menu-sub li:first-child {
  height: 37px;
}

.menu-sub li:first-child a {
  top: 11px;
}

.router-link-active, .on > a {
  color: #20A0FF !important;
}
