@import "base";
@import "loading";
@import "page-excute-course";
@import "component-sidebar";
@import "page-indicate-library";
@import "page-basic-course";
@import "page-teacher-list";
@import "page-login";
@import "page-teacher-group";
@import "page-basic-course-add";

a {
  color: $c-black;
}

body {
  font-family: "PingFang SC", "微软雅黑", sans-serif;
  background-color: #f5f5f5;
  font-size: 14px;
  height: 100vh;
  color: $c-black;
  line-height: 1.42857143
}

.btn-green {
  display: inline-block;
  background-color: $c-blue;
  height: 36px;
  line-height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  color: white;
  &:hover {
    background-color: $c-blue-darker;
  }
}

.btn-gray {
  height: 36px;
  background-color: #f7f7f7;
  min-width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include border-gray-all;
  &:hover {
    background-color: #fff;
  }
}

.btn-gray-small {
  display: inline-block;
  background-color: $c-gray;
  height: 26px;
  line-height: 26px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  color: $c-black;
  @include border-gray-all;
  &:hover {
    background-color: #ffffff;
  }
}

.btn-gray-small-plain {
  @extend .btn-gray-small;
  background-color: #fff;
  &.on {
    color: $c-blue;
    background-color: #fff;
    border-color: $c-blue;
  }
}

.btn-gray-lg-plain {
  width: 64px;
  color: $c-black;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 36px;
  line-height: 36px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  @include border-gray-all;
}

.btn-red-lg {
  color: #fff;
  width: 64px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 36px;
  line-height: 36px;
  background-color: $c-red;
  //解决往下偏移1px问题
  border: 1px solid $c-red;
  text-align: center;
  display: inline-block;
}

.btn-green-lg {
  color: #fff;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  background-color: $c-blue;
  //解决往下偏移1px问题
  border: 1px solid $c-blue;
  text-align: center;
  display: inline-block;
}

header {
  height: 60px;
  //width: 100vw;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001;
  border-bottom: 1px solid $c-border;
  @include p-x(20);

  > div {
    @include v-middle;
    height: 100%;
    @include max-page-width;
  }
}

#app {
  position: relative;
  @include max-page-width;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  min-height: 100%;

}

.main {
  margin-top: 20px;
  min-height: 700px;
  @media (min-width: 1200px) {
    width: calc(100% - 160px);
    min-width: 800px;
  }
  //@include border-gray-all;
  //border-left: 0;
  height: 100%;
  background-color: #fff;
  .head {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include p-x(20);
    @include border-gray-bottom;
    h2 {
      font-size: 16px;
    }

  }
  .content {
    @include p-x(40);
    @include p-y(20);
    @extend .p-x-20-sm;

    min-height: 500px;
  }
}

.bghui {
  background: #E5E9F2;
}

.ispc {
  width: calc(100%) !important;
}

.panel {
  //选前面有.panel的元素（这里表示除了第一个之外的所有）
  ~ .panel {
    margin-top: 20px;
  }
  @include border-gray-all;
  .panel-head {
    h3 {
      font-size: 14px;
    }
    height: 50px;
    background-color: #E5E9F2;
    @include border-gray-bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .panel-head-sub, .panel-head-sub-sub {
    border-top: 1px solid $c-border;
    //@extend .panel-head;
    @include border-gray-bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include p-x(20);
    border-bottom: 0;
    height: 60px;
    background-color: #ffffff;
  }
  .panel-item:not(:last-child) {
    @include border-gray-bottom
  }

  .panel-head {
    > div {
      @include p-x(15);
      text-align: left;
    }
  }
  .panel-item {
    display: flex;
    //align-items: center;
    label {
      flex-shrink: 0;
    }
    > div {
      @include p-x(15);
      @include p-y(15);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: left;
    }
  }

  .grade {
    @include border-gray-all;
    border-bottom: 0;
    height: 30px;
    line-height: 30px;
  }
  .desc {
    @include border-gray-all;
    margin-bottom: 20px;
    > div {
      padding: 10px;
      &:not(:last-child) {
        border-right: 1px solid $c-border;
        @include p-x(10);
      }
      display: flex;
      align-items: stretch;
      justify-content: center;
    }
  }
  .grade, .desc {
    display: flex;
    align-items: stretch;
    margin-left: 40px;
    margin-right: 20px;

    > div {
      width: 20%;
      text-align: center;
    }
  }
}

.square-green {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  display: inline-block;
  background-color: $c-blue;
}

.dialog-delete {
  border-radius: 4px;
  min-width: initial !important;
  width: 420px;
  height: 196px;
  overflow: hidden;
  position: fixed !important;
  top: calc(40% - 10px);
  left: calc(50% - 170px);
  background-color: #fff;
  //text-align: center;
  @include p-y(20);
  @include p-x(20);
  @include border-gray-all;
  > img:first-child {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: content-box;
    padding: 20px;
    cursor: pointer;
    &:hover {
      //cursor: pointer;
    }
  }
  h4 {
    //text-align: center;
    margin-top: 43px;
    margin-bottom: 40px;
    line-height: normal;
  }
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.dialog {
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1001;
  .btn-close-dialog {
    box-sizing: content-box;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.relative {
  position: relative;
}

.measureTypeTest {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  color: #32353a;
}

.dialog > div:not(.mask) {
  max-width: 90%;
  max-height: 90vh;
  overflow-x: auto;
  min-width: 550px;
  background-color: #fff;
  position: relative;
  bottom: 50px;
  padding-bottom: 30px;
  z-index: 1001;
  .head {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include p-x(20);
    border-bottom: 1px solid #E0E6ED;
  }
  .body {
    max-height: calc(90vh - 85px);
    overflow-y: auto;
    @include p-x(20);
    select {
      height: 34px;
      @include border-gray-all;
      padding-left: 10px;
    }
    label {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    input[type=text] {
      height: 34px;
      @include border-gray-all;
      @include p-x(10);
    }

    .num-count {
      position: absolute;
      right: 10px;
      color: $c-black-light;
      z-index: 0;
    }
    .btn-wrap {
      justify-content: center;
    }
  }
  .footer {
    border-top: 1px solid #E0E6ED;
    padding-top: 20px;
    text-align: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
}

.mydialog > div:not(.mask) {
  max-width: 90%;
  max-height: 90vh;
  overflow-x: auto;
  min-width: 390px;
  background-color: #fff;
  position: relative;
  bottom: 50px;
  padding-bottom: 20px;
  .head {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include p-x(20);
    background-color: #fff;
  }
  .body {
    max-height: calc(90vh - 85px);
    overflow-y: auto;
    @include p-x(20);
    select {
      height: 36px;
      @include border-gray-all;
      padding-left: 10px;
    }
    label {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    input[type=text] {
      height: 36px;
      @include border-gray-all;
      @include p-x(10);
    }

    .num-count {
      position: absolute;
      right: 10px;
      color: $c-black-light;
      z-index: 0;
    }
    .btn-wrap {
      justify-content: flex-end;
    }
  }
}

.mydialog800 > div:not(.mask) {
  max-width: 90%;
  max-height: 85vh;
  overflow-x: auto;
  overflow-y: hidden;
  width: 880px;
  background-color: #fff;
  position: relative;
  bottom: 50px;
  padding-bottom: 20px;
  .head {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include p-x(20);
    background-color: #fff;
  }
  .body {
    max-height: calc(85vh - 85px);
    //overflow-y: auto;
    overflow-y: hidden;
    @include p-x(20);
    select {
      height: 36px;
      @include border-gray-all;
      padding-left: 10px;
    }
    label {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    input[type=text] {
      height: 36px;
      @include border-gray-all;
      @include p-x(10);
    }

    .num-count {
      position: absolute;
      right: 10px;
      color: $c-black-light;
      z-index: 0;
    }
    .btn-wrap {
      justify-content: flex-end;
    }
  }
}

.dialog800ele > div:not(.mask) {
  max-width: 90%;
  max-height: 90vh;
  overflow-x: auto;
  min-width: 550px;
  width: 800px;
  background-color: #fff;
  position: relative;
  bottom: 50px;
  padding-bottom: 30px;
  .head {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include p-x(20);
    border-bottom: 1px solid #E0E6ED;
  }
  .body {
    max-height: calc(90vh - 85px);
    overflow-y: auto;
    @include p-x(20);
    select {
      height: 34px;
      @include border-gray-all;
      padding-left: 10px;
    }
    label {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    input[type=text] {
      height: 34px;
      @include border-gray-all;
      @include p-x(10);
    }

    .num-count {
      position: absolute;
      right: 10px;
      color: $c-black-light;
      z-index: 0;
    }
    .btn-wrap {
      justify-content: center;
    }
  }
  .footer {
    border-top: 1px solid #E0E6ED;
    padding-top: 20px;
    text-align: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
}

.panel-body {
  min-height: 50px;
}

textarea {
  resize: vertical;
}

.float-left {
  float: left;
}

.flex-1-0-80 {
  flex: 1 0 80px;
}

.flex-1-0-50 {
  flex: 1 0 50px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-weight {
  font-weight: bold;
}

.el-dialog__footer {
  border-top: 1px solid #E0E6ED !important;
}

.el-dialog__header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #E0E6ED !important;
  font-weight: normal;
  .el-dialog__title {
    font-weight: normal;
  }
}

.mt-35 {
  margin-top: 35px;
}

.mr-44 {
  margin-right: 44px;
}

.dialogPreviewImage {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.dialogPreviewImage .image-wrap {
  width: 710px;
  height: 444px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialogPreviewImage .image-wrap .image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialogPreviewImage .image-wrap .left,
.dialogPreviewImage .image-wrap .right {
  position: absolute;
  top: 50%;
  width: 45px;
  cursor: pointer;
}

.dialogPreviewImage .image-wrap .left {
  left: 0;
  transform: translate(-75px, -50%);
}

.dialogPreviewImage .image-wrap .right {
  right: 0;
  transform: translate(75px, -50%);
}

.dialogPreviewImage .image-wrap .close {
  position: absolute;
  right: 0;
  width: 45px;
  transform: translate(75px, 135px);
  cursor: pointer;
}

.dialogPreviewImage .image-wrap .download {
  width: 120px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 70px);
  cursor: pointer;
}

.dialogPreviewImage .image-wrap .download i {
  font-family: iconfont;
}

@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_cggsta7cnrnt57b9.eot?t=1497434114931'); /* IE9*/
  src: url('//at.alicdn.com/t/font_cggsta7cnrnt57b9.eot?t=1497434114931#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_cggsta7cnrnt57b9.woff?t=1497434114931') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_cggsta7cnrnt57b9.ttf?t=1497434114931') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_cggsta7cnrnt57b9.svg?t=1497434114931#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghuming:before {
  content: "\e640";
}

.icon-mima:before {
  content: "\e643";
}

.icon-yonghuming1:before {
  content: "\e644";
}

.icon-logo:before {
  content: "\e647";
}

.icon-icon-test:before {
  content: "\e661";
  font-size: 13.9px;
  color: #99A9BF;
}

.icon-el-icon-delete:before {
  content: "\e662";
}

.icon-el-icon-circle-cross:before {
  content: "\e663";
  font-size: 16px;
}

.c-475669 {
  color: #475669;
}

.c-99A9BF {
  color: #99A9BF !important;
}

.titlehead {
  margin-left: 20px;
  height: 65px;
  padding-left: 0;
}

.basic-info{
  //label{
  //  color: $c-black-light;
  //}
}

.word-wrap{
  white-space: normal;
}
