@import "base";

//执行课程
.page-execute-course {

  .course-info {
    flex-wrap: wrap;
    @include border-gray-bottom;
    @include p-x(20);
    @include p-y(30);
    font-size: 0;
    > * {
      font-size: 14px;
    }
    span ~ label {
      margin-left: 80px;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 20px
    }

  }

  .panel-course {
    .panel-head, .panel-item {
      @include p-x(0);
      @include p-y(0);
      text-align: center;
      div {
        @include p-y(20);
        &:not(:last-child) {
          @include p-x(10);
        }
      }

      div:nth-of-type(1) {
        width: 12%;
      }
      div:nth-of-type(2) {
        width: 13%;
      }
      div:nth-of-type(3) {
        width: 11%;
      }
      div:nth-of-type(4) {
        width: 9%;
      }
      div:nth-of-type(5) {
        width: 22.5%;
      }
      div:nth-of-type(6) {
        width: 21%;
      }
      div:nth-of-type(7) {
        width: 11.5%;
        overflow-x: hidden;
      }
    }
  }

  .panel-camp {
    .panel-head, .panel-item {
      @include p-x(0);
      @include p-y(0);
      text-align: center;
      div {
        @include p-y(20);
        &:not(:last-child) {
          @include p-x(10);
        }
      }
    }
  }

  .content {
    height: calc(100% - 190px);
  }

  //.panel-body{
  //  height: calc(100% - 50px);
  //  overflow-y: auto;
  //}

  .panel-item {

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div ~ div {
      border-left: 1px solid $c-border;

    }
    .last {
      @include p-x(0);
      flex-direction: column;
    }
  }

  .content .flex {
    align-items: flex-end;
  }

  .wrap {
    flex-wrap: wrap;

    h4, h5 {
      width: 100%;
      text-align: left;
    }

    h4 {
      padding-left: 15px;
    }

    h5 {
      padding-left: 30px;
    }

  }

  .wrap {
    justify-self: flex-start;
  }

  .dialog {

    input[type=text] {
      width: 330px;
    }

    .list {
      @include border-gray-all;

      width: 660px;
      height: 200px;
      overflow-y: auto;
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 46px;
        @include border-gray-bottom();
        @include p-x(10);
        cursor: hand;
      }
      .item:last-child {
        border-bottom: 0;
      }
    }

    .desc {
      width: 660px;
      height: 160px;
      overflow-y: auto;
      background-color: $c-gray;
      @include p-x(20)
    }
  }

  .groupList {
    width: 780px;
    overflow-x: hidden;
    height: 400px;
    overflow-y: auto;
    @include border-gray-all();
    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f7f7f7;
      @include p-y(10);
      h4 {
        margin-bottom: 5px;
      }

    }

  }

  .dialog .panel {
    border: 0 !important;

    .desc {
      height: auto;
      padding-left: 0 !important;
      padding-right: 0 !important;

      >
      div {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }

    }
  }

  .wrap {
    justify-content: flex-start;

    span {
      font-size: 12px;
    }

    >
    * {
      line-height: 1.3;
    }

  }



}

//执行课程列表(营团列表页)
.page-execute-course-list{
  label + select, label + input {
    height: 34px;
    width: 120px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  label + input {
    width: 90%;
  }

  .flex-wrap label {
    font-size: 12px;
    width: 100%;
    flex-shrink: 0;
  }

  .panel-head, .panel-item {
    padding: 0!important;
    >div{
      @include p-x(10)
    }
  }
  .panel-item div{
    @include p-y(20);
    border-right: 1px solid $c-border;
  }

  .panel-head > div, .panel-item > div {
    text-align: center;

  }

  .content {
    min-width: 790px;
    //font-size: 12px;
  }
}

.page-execute-course-term{


}
